{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}

<div class="content center">
    <h3>Мы будем рады видеть вас в нашем магазине копировальных машин! Ниже вы найдете информацию о нашем местоположении и часах работы.</h3>

    <h4>Где нас найти:</h4>

    <p>Адрес: ул. Цветочная 12, г. Город Альметьевск,</p>
    <p>Как добраться: Мы находимся в здании напротив парка "Цветочный" и рядом с кафе "Цветущее настроение".</p>
    <p>Остановки общественного транспорта: Остановка "Технический парк" - автобусы №5, 13, 21. Остановка "Технический переулок" - троллейбус №8, автобусы №7, 15.</p>
    <p>Часы работы: Мы открыты для вас ежедневно с 9:00 до 20:00.</p>
    <p>Телефон: Для предзаказа и консультаций вы можете связаться с нами по телефону +7 (927) 464-47-64</p>
    <p>Приходите к нам за новой техникой! Вас ждет широкий выбор и профессиональный сервис.</p>


    <img src="{% static 'media/images/map.jpg' %}" alt="map" width="800px" id="map">
</div>

{% endblock %}